<div class="blog-container">
    <div class="blog-header">
        <h1>Blog</h1>
        <p class="blog-description">Latest posts and updates</p>
    </div>
    
    <div class="blog-list">
        <div class="posts-container">
            <% posts.forEach(function(post) { %>
                <article class="blog-post-card">
                    <% if (post.heroImage) { %>
                        <div class="post-image">
                            <img src="<%= post.heroImage %>" alt="<%= post.title %>">
                        </div>
                    <% } %>
                    <div class="post-content">
                        <h2 class="post-title"><a href="/blog/<%= post.slug %>"><%= post.title %></a></h2>
                        <div class="post-meta">
                            <span class="post-date"><%= post.date %></span>
                            <% if (post.author) { %>
                                • <span class="post-author"><%= post.author %></span>
                            <% } %>
                        </div>
                        <p class="post-excerpt"><%= post.description %></p>
                    </div>
                </article>
            <% }); %>
        </div>
    </div>
</div> 